body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #f0f0f0;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}

.menuButton {
  border: 3px solid #f0f0f0;
  border-radius: 25px;
  font-size: 20px;
  display: table;
  padding: 10px;
  margin: 10px auto;
  background-color: #38f;
  color: #f0f0f0;
  white-space: nowrap;
  width: 200px;
  text-align: center;

  &.backButton {
    background-color: #e00;
  }
}

.menuSpacer {
  height: 30px;
  margin: auto;
}

.scoreEntry {
  margin: 10px auto;
  text-align: center;
  font-size: 15px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  width: 200px;

  &.easy {
    background-color: #03c;
  }

  &.medium {
    background-color: #0a0;
  }

  &.hard {
    background-color: #a33;
  }

  .difficulty {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

@keyframes justFilled {
  from {
    color: #03c;
    font-size: 30px;
  }

  to {
    color: #f0f0f0;
    font-size: 24px;
  }
}

@keyframes justFilledActive {
  from {
    color: #03c;
    font-size: 30px;
  }

  to {
    color: #3f6;
    font-size: 24px;
  }
}

.gameScreen {
  display: table;
  margin: auto;

  .header {
    text-align: right;
    font-size: 24px;
    margin-bottom: 10px;

    .timerContainer {
      display: inline-block;
    }

    .playPauseContainer {
      display: inline-block;
      margin-left: 5px;

      .playButton,
      .pauseButton {
        display: inline-block;

        svg {
          width: 1em;
          height: 0.9em;
          vertical-align: -2px;
        }
      }
    }
  }

  .grid {
    border-collapse: collapse;
    width: 476px;
    height: 476px;

    tr {
      &:nth-child(3n + 1) {
        td {
          border-top-width: 4px;
        }
      }

      &:nth-child(3n) {
        td {
          border-bottom-width: 4px;
        }
      }

      td {
        border: 2px solid #fff;
        text-align: center;
        vertical-align: middle;
        padding: 2px;
        font-size: 24px;
        width: 48px;
        min-width: 48px;
        max-width: 48px;
        height: 48px;
        min-height: 48px;
        max-height: 48px;

        &:nth-child(3n + 1) {
          border-left-width: 4px;
        }

        &:nth-child(3n) {
          border-right-width: 4px;
        }

        &.matchesSelection {
          color: #3f6;
        }

        &:focus-visible {
          outline: none;
        }

        &.justFilled {
          animation-name: justFilled;
          animation-duration: 1s;

          &.matchesSelection {
            animation-name: justFilledActive;
          }
        }

        .hintTable {
          margin: auto;
          width: 48px;
          height: 48px;

          td {
            width: 33%;
            min-width: 33%;
            max-width: 33%;
            height: 33%;
            min-height: 33%;
            max-height: 33%;
            border: none;
            padding: 0;
            font-size: 10px;
          }
        }
      }
    }
  }

  .numberBar {
    font-size: 24px;
    width: 100%;
    text-align: center;
    margin-top: 10px;

    .selected {
      color: #3f6;
    }
  }

  .pausedGrid {
    width: 500px;
    height: 500px;
    position: relative;
    box-sizing: border-box;
    border: 4px solid #fff;

    .pausedGridIcon {
      width: 200px;
      height: 200px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -100px;
      margin-left: -100px;

      svg {
        width: 200px;
        height: 200px;
      }
    }
  }

  .doneGrid {
    width: 500px;
    height: 500px;
    position: relative;
    box-sizing: border-box;
    border: 4px solid #fff;

    .doneGridIcon {
      width: 200px;
      height: 200px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -100px;
      margin-left: -100px;
      color: #3f6;

      svg {
        width: 200px;
        height: 200px;
      }
    }
  }
}

.postGame {
  .newHighScore {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: #3f6;
    height: 50px;
  }

  .noNewHighScore {
    height: 50px;
    margin-bottom: 10px;
  }

  .scoreInfo {
    text-align: center;
    border: 2px solid #f0f0f0;
    margin: 10px auto;
    padding: 20px 10px;
    border-radius: 10px;
    width: 200px;

    .difficulty {
      font-size: 24px;
      margin-bottom: 5px;
    }
  }
}
